<ion-content padding>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); $event.preventDefault()" padding>
      <ion-item>
          <ion-icon class="input-icon" name="person" item-left></ion-icon>
          <ion-input type="text" placeholder="CPF" formControlName="cpf" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}"></ion-input>
      </ion-item>

      <ion-item>
          <ion-icon class="input-icon" name="lock" item-left></ion-icon>
          <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
      </ion-item>

      <button class="btn-login" ion-button type="submit" full round clear mode="ios">
          Entrar
      </button>
  </form>


  <button class="btn-login facebook" ion-button full round  mode="ios" icon-start (click)="facebookLogin()">
      <ion-icon name="logo-facebook"></ion-icon>Login pelo Facebook
  </button>

  <button class="btn-login gmail" ion-button full round  mode="ios" icon-start (click)="googlePlusLogin()">
      <ion-icon name="logo-google"></ion-icon>Login pelo Gmail
  </button>

</ion-content>

<ion-footer no-border class="app-footer">

<button class="btn-footer left" ion-button clear small mode="ios" type="submit" (click)="gotoRegisterPage()">
    Criar Usuário
</button>
<button class="btn-footer right" clear small (click)="acessarProdater()">
    <img class="caderneta-login-prodater" src="assets/imgs/prodater-logo.png" />
</button>

</ion-footer>
