<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      App Default <span class="subtitle">- Cadastre-se</span>
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="onSubmit()">
            <ion-icon class="create-user-icon" name="checkmark"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form class="form" [formGroup]="registerForm" >
    <ion-item>
      <ion-label id="name-label" color="primary-dark">Nome*</ion-label>
      <ion-input class="form-control" type="text" maxlength="10" placeholder="nome" formControlName="name" [brmasker]="{ type:'text'}"></ion-input>
    </ion-item>
    <h6 *ngIf="errorName" class="error">{{messageName}}</h6>

    <ion-item>
      <ion-label id="name-label" color="primary-dark">CPF*</ion-label>
      <ion-input class="form-control" type="tel" placeholder="CPF" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}" formControlName="cpf"></ion-input>
    </ion-item>
    <h6 *ngIf="errorCpf" class="error">{{messageCpf}}</h6>

    <ion-item>
      <ion-label id="name-label" color="primary-dark">Email*</ion-label>
      <ion-input class="form-control" type="text" placeholder="email" formControlName="email"></ion-input>
    </ion-item>
    <h6 *ngIf="errorEmail" class="error">{{messageEmail}}</h6>

    <ion-item>
      <ion-label id="name-label" color="primary-dark">Senha*</ion-label>
      <ion-input class="form-control" [type]="tipoSenha" placeholder="senha" formControlName="password"></ion-input>
      <button class="btn-visao-senha" color="primary" ion-button item-right clear (click)="toggleVisaoSenha()">
          <ion-icon class="create-user-icon" [name]="visaoSenha"></ion-icon>
      </button>
    </ion-item>
    <h6 *ngIf="errorPassword" class="error">{{messagePassword}}</h6>
  </form>
</ion-content>

<ion-footer padding>
  <ion-label>* Campo obrigatório</ion-label>
</ion-footer>
